.cardimage {
  max-width: 100%;
}

.card {
  text-align: center;
  max-width: 100%;
  padding: 2.5rem;
}

.ball {
  background-color: black;
  border: 0;
  margin-bottom: 2rem;
}

.ball:hover {
  background-color: red;
}

.cardround {
  margin-right: 7rem;

}

.product-info h4 {
  margin-bottom: 0;
}

.product-info {
  padding: 0 1rem;
}

.product-info p {
  font-size: .7rem;
}

.price {
  font-weight: bold;
}

.discript {
  margin-bottom: 0;
}

.product-card {
  max-width: 25em;
}
