.cardimage {
  max-width: 100%;
}

.card {
  text-align: center;
  max-width: 100%;
  padding: 2.5rem;
}

.ball {
  background-color: black;
  border: 0;
  margin-bottom: 2rem;
}

.ball:hover {
  background-color: red;
}

.cardround {
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
  width: 100%;

}

.product-info h4 {
  margin-bottom: 0;
}

.product-info {
  padding: 0 1rem;
}

.product-info p {
  font-size: .7rem;
}

.price {
  font-weight: bold;
}

.discript {
  margin-bottom: 0;
}

.product-card {
  text-decoration: none;
  color: black;
}

.product-card:hover {
  background-color: black;
  color: white;
}
