.mainbanner img {
  width: 90%;
  text-align: center;
}

.mainbanner {
  margin-top: 30px;
  text-align: center;
  font-family: 'Open sans' sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 65em;
  width: 100%;
}

.word h2 {
  margin-top: .5rem;
  margin-bottom: 5px;
}

.word p{
  margin-bottom: .5rem;
}

.call {
  background-color: black;
  border: 0;
}

.call:hover {
  background-color: red;
}

.sales-banner {
  background-color: red;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}

.sales-banner h1{
  margin-bottom: 0;
  color: white;
  font-size: 2.5rem;
}

.sales-banner-tag {
  text-decoration: none;
}

.newsletter {
  background-color: red;
  padding: 1rem 0;
  color: white;
}

.newsletter h2 {
  margin-bottom: 0;
}

@media only screen and (min-width: 20em) {

  .word {
    margin: 0 1rem;
}

  .word p {
    font-size: .9rem;
    margin-right: .5rem;
    padding-left: .5rem;
  }

  .call {
    font-size: .7rem;
  }
}

@media only screen and (min-width: 27em) {

  .word {
    margin: 0 1rem;
}

  .word p {
    font-size: 1rem;
    padding-bottom: 0;
  }

  .call {
    font-size: 1rem;
  }
}
